<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_ID">
	<display-name>StockWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>MyStockServlet</display-name>
		<servlet-name>MyStockServlet</servlet-name>
		<servlet-class>stock.servlet.MyStockServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>BuyStockServlet</display-name>
		<servlet-name>BuyStockServlet</servlet-name>
		<servlet-class>stock.servlet.BuyStockServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>SellStockServlet</display-name>
		<servlet-name>SellStockServlet</servlet-name>
		<servlet-class>stock.servlet.SellStockServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>QueryServlet</display-name>
		<servlet-name>QueryServlet</servlet-name>
		<servlet-class>stock.servlet.QueryServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>TimerServlet</display-name>
		<servlet-name>TimerServlet</servlet-name>
		<servlet-class>stock.servlet.TimerServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>StockEventServlet</display-name>
		<servlet-name>StockEventServlet</servlet-name>
		<servlet-class>stock.servlet.StockEventServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RuleItemServlet</display-name>
		<servlet-name>RuleItemServlet</servlet-name>
		<servlet-class>stock.servlet.RuleItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyStockServlet</servlet-name>
		<url-pattern>/mystock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BuyStockServlet</servlet-name>
		<url-pattern>/buystock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SellStockServlet</servlet-name>
		<url-pattern>/sellstock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TimerServlet</servlet-name>
		<url-pattern>/timer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StockEventServlet</servlet-name>
		<url-pattern>/events</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RuleItemServlet</servlet-name>
		<url-pattern>/ruleitem</url-pattern>
	</servlet-mapping>
	<filter> 
    <filter-name>alertPush</filter-name> 
	    <filter-class>org.eclipse.jetty.continuation.ContinuationFilter</filter-class> 
	</filter> 
	<filter-mapping> 
	    <filter-name>alertPush</filter-name> 
	    <url-pattern>/events</url-pattern> 
	</filter-mapping> 
	<listener>
		<listener-class>stock.listener.ServiceInit</listener-class>
	</listener>
</web-app>