<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="stock.dao.IStockOperation" >
  <resultMap id="RuleItemMap" type="stock.model.RuleItem" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="IMPL_CLASS" property="implClass" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectRuleItemByPK" resultMap="RuleItemMap" parameterType="stock.model.RuleItem" >
  	select * from rule_item t 
  	where t.id = #{id,jdbcType=VARCHAR}
  	and t.type = #{type,jdbcType=VARCHAR}
  </select>
  
  <select id="selectRuleItemByType" resultMap="RuleItemMap" parameterType="java.lang.Integer" >
  	select * from rule_item t where t.TYPE = #{ruleType,jdbcType=INTEGER} 
  	order by t.ID
  </select>
  
  <insert id="insertRuleItem" parameterType="stock.model.RuleItem" >
    insert into rule_item (ID, NAME, TYPE, 
      IMPL_CLASS, DESCRIPTION)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{implClass,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelectiveRuleItem" parameterType="stock.model.RuleItem" >
    insert into rule_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="type != null" >
        TYPE,
      </if>
      <if test="implClass != null" >
        IMPL_CLASS,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="implClass != null" >
        #{implClass,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateRuleItemByPKSelective" parameterType="stock.model.RuleItem" >
    update rule_item
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        TYPE = #{type,jdbcType=VARCHAR},
      </if>
      <if test="implClass != null" >
        IMPL_CLASS = #{implClass,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateRuleItemByPK" parameterType="stock.model.RuleItem" >
    update rule_item
    set NAME = #{name,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      IMPL_CLASS = #{implClass,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <delete id="deleteRuleItemByPK" parameterType="stock.model.RuleItem" >
    delete from rule_item
    where ID = #{id,jdbcType=VARCHAR} and TYPE = #{type,jdbcType=VARCHAR}
  </delete>
</mapper>