<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="stock.dao.IStockOperation" >
  <resultMap id="RuleExecuteHistoryMap" type="stock.model.RuleExecuteHistory" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="RULE_ID" property="ruleId" jdbcType="VARCHAR" />
    <result column="RUN_TIME" property="runTime" jdbcType="TIMESTAMP" />
    <result column="RESULT" property="result" jdbcType="INTEGER" />
    <result column="TIME_COST" property="timeCost" jdbcType="INTEGER" />
    <result column="STOCK_NUM" property="stockNum" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="selectRuleExecuteHistoryByRuleId" resultMap="RuleExecuteHistoryMap" parameterType="java.lang.String">
  	select * from rule_execute_history t where t.rule_id = #{ruleId,jdbcType=VARCHAR}
  	order by t.run_time desc
  </select>
  
  <insert id="insertRuleExecuteHistory" parameterType="stock.model.RuleExecuteHistory" >
    insert into rule_execute_history (ID, RULE_ID, RUN_TIME,
      RESULT, TIME_COST, STOCK_NUM
      )
    values (#{id,jdbcType=VARCHAR}, #{ruleId,jdbcType=VARCHAR}, #{runTime,jdbcType=TIMESTAMP}, 
      #{result,jdbcType=INTEGER}, #{timeCost,jdbcType=INTEGER}, #{stockNum,jdbcType=INTEGER}
      )
  </insert>
  
  <insert id="insertSelectiveRuleExecuteHistory" parameterType="stock.model.RuleExecuteHistory" >
    insert into rule_execute_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="ruleId != null" >
        RULE_ID,
      </if>
      <if test="runTime != null" >
        RUN_TIME,
      </if>
      <if test="result != null" >
        RESULT,
      </if>
      <if test="timeCost != null" >
        TIME_COST,
      </if>
      <if test="stockNum != null" >
        STOCK_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="ruleId != null" >
        #{ruleId,jdbcType=VARCHAR},
      </if>
      <if test="runTime != null" >
        #{runTime,jdbcType=TIMESTAMP},
      </if>
      <if test="result != null" >
        #{result,jdbcType=INTEGER},
      </if>
      <if test="timeCost != null" >
        #{timeCost,jdbcType=INTEGER},
      </if>
      <if test="stockNum != null" >
        #{stockNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>