@CHARSET "ISO-8859-1";

#theme {
    background:	url('../img/theme.png') no-repeat right;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
}

#stock_diagram {
	width: 100%;
	height: 600px;
}

.function-menu {
	color:	#000000;
	font-size: 12px;
}

.function-menu:hover {
	text-decoration: none;
	color:	#000000;
	cursor: pointer;
}

.right-content {
	padding-left: 0px;
}

.right-section {
	margin-left: 10px !important;
}

.stock-tree-list {
	font-size: 15px !important;
	font-family:"Times New Roman",Georgia,Serif !important;
}


